

<div (mouseenter)="onToggleSidebar()"
     (mouseleave)="onToggleSidebar()"
     [ngClass]="{'open': sidebarOpenProp || sidebarOpen }"
     class="sidebar">

  <div class="nav-sidebar-header">
    {{showAppDrawer ? 'Apps':'Navigation'}}
    <span id="nav-sidebar-control" class="pull-right">
           <i (click)="onToggleAppDrawer()" class="fa fa-th" aria-hidden="true"></i>

           <i (click)="onLockSidebar()"
              [ngClass]="getSidebarLockIcon()"
              aria-hidden="true"></i>
       </span>
  </div>

  <ul *ngIf="!showAppDrawer" class="nav nav-sidebar">
    <li *ngFor="let route of displayRoutes" class="routeWrapper"
        [ngClass]="{'deadRouteWrapper' : route.hasChildren, 'routeWrapper' : !route.hasChildren}"
        (click)="sidebarItemClicked(route)">

      <a href="javascript:void(0);">
        <span class="routeDisplayText">{{route.display}}</span>
        <i [class]="route.icon"></i>
      </a>

      <ul *ngIf="route.hasChildren" class="nav nav-sidebar-child"
          [ngClass]="{'open': subMenusConfig[route.path]==true}" >

        <li *ngFor="let childRoute of route.children">
          <a href="javascript:void(0);" class="" (click)="sidebarItemClicked(route, childRoute)">
            <span class="">{{childRoute.display}}</span>
            <!--<i [class]="childRoute.icon"></i>-->
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <section *ngIf="showAppDrawer" class="nav app-sidebar">
    <a href="javascript:void(0)" class="app-tile">
      <span class="app-tile-name">App 1</span>
    </a>
    <a href="javascript:void(0)" class="app-tile">
      <span class="app-tile-name">App 2</span>
    </a>
    <a href="javascript:void(0)" class="app-tile">
      <span class="app-tile-name">App 3</span>
    </a>
    <a href="javascript:void(0)" class="app-tile">
      <img src="assets/images/add_app.svg" style="width: 80px; height: 80px;;" alt="add app icon">
    </a>
  </section>
</div>
